@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-outfit: "Outfit", sans-serif;

  --color-brand-25: #f2f7ff;
  --color-brand-50: #ecf3ff;
  --color-brand-100: #dde9ff;
  --color-brand-200: #c2d6ff;
  --color-brand-300: #9cb9ff;
  --color-brand-400: #7592ff;
  --color-brand-500: #465fff;
  --color-brand-600: #3641f5;
  --color-brand-700: #2a31d8;
  --color-brand-800: #252dae;
  --color-brand-900: #262e89;
  --color-brand-950: #161950;

  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #e4e7ec;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;
  --color-gray-950: #0c111d;
  --color-gray-dark: #1a2231;

  --color-success-50: #ecfdf3;
  --color-success-500: #12b76a;
  --color-success-600: #039855;

  --color-warning-50: #fffaeb;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;

  --color-error-50: #fef3f2;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;

  --text-title-md: 36px;
  --text-theme-xl: 20px;
  --text-theme-sm: 14px;
  --text-theme-xs: 12px;
}

@layer base {
  body {
    @apply bg-gray-50 font-outfit text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #d0d5dd;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #344054;
}
